$font-standard:    Arial, sans-serif;
$font-size-standard: 100%;
$font-size-title: 180%;
$primary-color: black;

$border-radius-standard: 10px;

body {  
  font: $font-size-standard $font-standard;
  color: $primary-color;
  display: flex;
  flex-direction: column;
  background-color: rgb(13, 13, 80);
}

#mainNav{
    flex-direction: row;
    justify-content: space-around;
    display: flex;
    margin-top: 2%;
}

#content{
    display: flex;
    flex-direction: column;
    padding: 2%;
}

#viewOpt{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-left: 1%;
    margin-right: 2%;
    background-color:darkblue;
    border: 2px solid rgb(92, 92, 231);
    border-radius: 5px;
}

#selectable{
    display: flex;
    flex-direction: column;
}

#edit{
    color: white;
    width: 15%;
    padding: 0.5%;
    border: 5px solid rgb(92, 92, 231);
    border-radius: 5px;
    margin-left: 50px;
    margin-right: 50px;
    float: left;
}

#selectable{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#selectable > *{
    margin-top: 20px;
    margin-bottom: 20px;
    align-self: center;
}

#json{
    display: flex;
    flex-direction: column;
}

#inputJson{
    display: flex;
    flex-direction: row;
}

fieldset {
    text-align: center;
    border-radius: $border-radius-standard;
    border: transparent;
    margin: 0%;
    padding: 0%;
    width: 150px;
}

#iconsList > *{
    margin: 5px;
}
fieldset legend {
    font: $font-size-title $font-standard;
}

#options{
    color: white;
    z-index: 1000;
    position: absolute;
    background-color: darkblue;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 220px;
}

#options > li{
    padding: 5px;
    list-style: none;
    transition: 0.5s;
}

#options > li:hover{
    background-color: cyan;
}

#viewoptions{
    padding: 0%;
}

#mymap{
    position: absolute;
    margin-left: 250px;
    width: 60%;
    height: 450px;
    border: rgb(92, 92, 231) solid 5px;
    border-radius: 10px;
    transition: 0.5s;
}

#mapname{
    color: orange;
    text-align: center;
}
img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    border: transparent;
    align-items: center;
    transition: 0.5s;
    width: 220px;
    height: 50px;
    background-color: transparent;
    font-size: 18px;
}

button:hover{
    background: rgb(0, 47, 255);
}

.leaflet-control-container{
    display: none;
}
input {
    cursor: pointer;
}

#addIconKiwi:hover, #addIconFungo:hover {
    opacity: 0.6;
}

#save, #load {
    margin-top: 12%;
}

#finalbar{
    position: absolute;
    margin-top: 42%;
    margin-left: 75%;
}
