﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"
            integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
            crossorigin="">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="~/Scripts/presentation.js"></script>
    <link rel="stylesheet" href="~/Content/presentation_style.css">
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div id="title">
        
         <img src="Content\WebImages\LilioIcon.png" alt="X">
    </div>
    <div id="userchoose">
        <button id="logincommand">Log In!</button>
        <button id="signupcommand">Sign up!</button>
    </div>
    <div id="loginpanel">
        <label for="login">Login</label>
        <div id="passwordsection">
            <input type="text" placeholder="Username" id="username">
            <label id="incorrectuser">Non-existent User!</label>
        </div>
        <div id="passwordsection">
            <input type="password" placeholder="Password" id="password">    
            <label id="incorrectpassword">Incorrect Password!</label>
        </div>
        
        <div id="commandpalettelogin">
            <button id="login">Log in!</button>
            <button id="backlogin">Back</button>
        </div>
    </div>
    <div id="signuppanel">
        <div id="signupparameter">
            <div class="parameter">
                <label for="username">Username:</label><input id="usernameSet" type="text">
            </div>
            <div class="parameter">
                <label for="password">Password: </label><input id="passwordSet" type="password">
            </div>
            <div class="parameter">
                <label for="confirm">Confirm:</label><input id="passwordRepeat" type="password">
            </div>
        </div>
         <div id="commandpalettesignup">
            <button id="signup">Sign up!</button>
            <button id="backsignup">Back</button>
        </div>
    </div>
</body>
</html>
