$titlefont:(
    Helvetica,
);

//Free Logo Designer

body {
    display:flex;
    flex-direction:column;
    background-color: rgb(13, 13, 80);
}


#title{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#title > img{
    width: 200px;
    height: 200px;
}

#choose{
    font-family: Verdana;
    color:white;
    display: flex;
    flex-direction: row;
    padding: 25px 150px 25px 150px;
    justify-content: space-around;
}

#choose div{
    padding: 20px 80px 20px 80px;
    width: 30%; 
    display: flex;
    text-align: center;
    margin: 10px;
    flex-direction: column;
    justify-content: center;
    transition: 0.5s;
    border: cyan 1px solid;
}

#choose div h1{
    font-size: 20pt;
    width: 150px;
    align-self: center;
}

#choose > div:hover{
    background-color: rgb(58, 113, 131);
    border: white 1px solid;
}

#managemaps{
    font-family: Verdana;
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    align-self: center;
    justify-content: space-around;
    margin-top: 10px;
}

#managemaps div{
    width: 250px;
    height: 350px;
    border-radius: 10px;
}

#managemaps div label:first-child{
    margin-bottom: 10px;
}
#managemaps > div{
    color: rgb(191, 232, 252);
    text-align: center;
    margin: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding: 15px;
    height: 300px;
    width: 250px;
    border-radius: 10px;
    border: transparent 1px solid;
    transition: 0.5s;
}

#managemaps > div:hover{
    background-color: rgb(58, 113, 131);
    border: white 1px solid;
}

.leaflet-touch .leaflet-control-attribution, .leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
    box-shadow: none;
    display: none;
}

#load_panel{
    height:250px;
    display: flex;
    flex-direction: column;
    border: solid orange 2px;
    width: 50%;
    border-radius: 2px;
    background-color: dimgrey;
    justify-content: space-around;
    align-items:center;
    align-self: center;
    display: none;
}

#load_gif {
    align-self: center;
    z-index: -1;
}

#load_gif > img{
    width: 50px;
    height: 50px;
}

#img{
    width: 20%;
    height: 150px;
    margin-bottom: 20px;
}

#settings img{
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
}

#select_map{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

#confirm{
    display:flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

button {
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    border: transparent;
    align-items: center;
    transition: 0.5s;
    height: 50px;
    background-color: transparent;
    font-size: 20px;
    border:rgb(92, 92, 231) solid 2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 20px;
}

button:hover{
    background: rgb(0, 47, 255);
}

#icons{
    margin-top: 100px;
    margin-left: 8%;
    width: 80%;
    padding: 2%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#addicon, #removeicon{
    height: 200px;
    width: 99.5%;
    background-color: transparent;
    border: rgb(92, 92, 231) solid 2px;
    margin-bottom: 20px;
}

#add > img, #remove > img{
    margin-left: 20px;
    width: 30px;
    height: 30px;
}

#addicon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#addicon form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#addicon input{
    color: white;
    width:60%;
    align-self: center;
    transition: 0.5s;
    font-size: 20px;
    border:transparent;
    background-color: transparent;
    margin-top: 20px;
}

#addicon input:hover{
    background: rgb(0, 47, 255);
}

#add_icon_btn{
    font-size: 10pt;
    margin-left: 100px;
}

#removeicon{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#allicons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
}
#removeicon input{
    border: rgb(92, 92, 231) solid 2px;
    padding: 1%;
    border-radius: 5px;
}

#selection{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;   
}

#selection > button{
    border: transparent;
    border-radius: 5px;
    padding: 2%;
}

#settingspanel{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#settings{
    width: 80%;
}

#option1, #option2,#option3,#option4,#option5 {
    margin-top: 40px;
    color: white;
    font-size: 18px;
    font-family:'Courier New', Courier, monospace;
    width: 80%;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.color{
    display: flex;
    flex-direction: row;
}

.color > button{
    border: transparent;
    margin-top: 0px;
    width: 25px;
    height: 25px;
   // background-color: white;
    border-radius: 5px;
    margin-left: 10px;
    padding: 1%;
}

#savechanges{
    margin-left: 35%;
    align-self: center;
    border-radius: 5px;
    width:20%;
}