body {
  display: flex;
  flex-direction: column;
  background-color: #0d0d50;
  justify-content: center;
}

#mapdetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2%;
}

#detailspanel {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 30px;
}

#map {
  margin-top: 155px;
  position: absolute;
  align-self: center;
  width: 60%;
  height: 400px;
  border: #5c5ce7 solid 5px;
  border-radius: 10px;
  transition: 0.5s;
}

#options {
  transform: translate(-1120px);
  font-size: 15pt;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: flex;
  flex-direction: row;
  border: #5c5ce7 solid 5px;
  border-radius: 5px;
  align-self: center;
  transition: 0.5s;
}

input {
  text-align: center;
  width: 180px;
  margin-right: 30px;
  font-size: 13pt;
  background: transparent;
  color: white;
  border: transparent;
}

button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
  border: transparent;
  align-items: center;
  transition: 0.5s;
  width: 220px;
  background-color: transparent;
  font-size: 20px;
}

button:hover {
  background: #002fff;
}

#options p {
  margin-left: 20px;
}

#title {
  align-self: center;
  font-size: 15pt;
  color: white;
  text-align: center;
}

#save_panel {
  background-color: #0d0d50;
  z-index: 1000;
  position: absolute;
  margin-top: 480px;
  width: 55%;
  transform: translate(-620px);
  font-size: 15pt;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: #5c5ce7 solid 5px;
  border-radius: 5px;
  transition: 0.5s;
}

#save_panel p {
  margin-left: 50px;
}

#save_panel p input {
  border: #5c5ce7 solid 2px;
  border-radius: 3px;
  transition: 0.2s;
}

#save_panel p input:hover {
  background-color: #3a7183;
}

#savemap {
  width: 150px;
}

#savemap img {
  margin-right: 30px;
  width: 40px;
  height: 40px;
}

#savemap label {
  opacity: 0;
  transform: translate(-70px);
  transition: 0.5s;
}

/*# sourceMappingURL=new_map_style.css.map */
