$titlefont:(
    Helvetica,
);


body {
    display:flex;
    flex-direction:column;
    background-color: rgb(13, 13, 80);
    justify-content: center;
    align-items: center;
}

#title > img{
    width: 300px;
    height: 300px;
    z-index: -1;
}

#title{
    margin-top: 50px;
    color: white;
    font-size: 40pt;
    text-align: center;
}

#userchoose{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
button{
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    border: transparent;
    align-items: center;
    transition: 0.5s;
    height: 50px;
    background-color: transparent;
    font-size: 20px;
    border:rgb(92, 92, 231) solid 2px;
    margin-top: 20px;
    margin-bottom: 50px;
    border-radius: 5px;
}

button:hover{
    background: rgb(0, 47, 255);
}

#passwordsection{
    width: 100%;
    display: flex;
    flex-direction: row;
    color: red;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}

#password{
    width: 40%;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: 0.2s;
}

#loginpanel{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: left;
    font-size: 20pt;
}

input{
    border-radius: 5px;
    color: white;
    font-size: 20px;
    width: 40%;
    margin: 20px;
    height: 40px;
    background: transparent;
    border: rgb(92, 92, 231) solid 2px;
    transition: 0.2s;
}

input:hover{
    background:  rgb(0, 47, 255);
}

#commandpalettelogin{
    width: 50%; 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#commandpalettesignup{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#signupparameter{
    color: white;
    font-size: 15pt;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.parameter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}