﻿@using System.Web.Optimization
@using Wayfinding.ViewModels

@model EditorViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/EditorClient/style/style.css">
    <title>My Map</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
          integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
          crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"
            integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
            crossorigin="">
    </script>
    <script>
        var MapId =@Model.ID;
        var ImagePath = "@Url.Content("~/Images")";
        //var Name;
        //var Latitude;
        //var Longitude;
        //var Zoom;
        //console.log("" + id);
    </script>
    <script src="~/EditorClient/pathfinder.js"></script>

    @*@Scripts.Render("~/bundles/core")
        @Styles.Render("~/Content/core")*@
</head>
<body>
    <div id="content">
        <div id="viewOpt">
            <button id="select">
                <img src="Content\WebImages\editor.svg" alt="X">
                <label>Open Editor</label> 
            </button>
                <fieldset>
                    <button id="viewoptions">
                        <img src="Content\WebImages\arrowdown.svg" alt="">                        
                        <label>View</label>
                    </button>
                    <div id="options">
                        <li><label for="nodeLayer"><input id="nodeLayer" type="checkbox" checked>Nodes</label></li>
                        <li><label for="iconLayer"><input id="iconLayer" type="checkbox" checked>Icons</label></li>
                        <li><label for="roadLayer"><input id="roadLayer" type="checkbox" checked>Roads</label></li>
                    </div>
                </fieldset>
            <!-- <button id="selectPath">find path</button> -->
            <!-- <button id="start">Start</button> -->
            <button id="drawNode">
                <img src="Content\WebImages\drawnode.svg" alt="">
                Draw Node
            </button>
            <button id="drawRoad">
                <img src="Content\WebImages\drawroad.svg" alt="">
                Draw Road
            </button>
            <button id="move">
                <img src="Content\WebImages\movenode.svg" alt="">
                Move Node
            </button>
             <button id="selectPath">
                 <img src="Content\WebImages\findpath.svg" alt="">
                 Find Path
             </button>
            <button id="remove">
                <img src="Content\WebImages\removenode.svg" alt="">
                Remove
            </button>
            <button id="removeI">
                <img src="Content\WebImages\removeicon.svg" alt="">
                Delete Icon
            </button>
        </div>
        <!--- <div id="load_gif"> 
            <img src="~/Images/load_gif.gif" />
        </div>-->
        <div id="maincontent">
            <label id="mapname"> <h1></h1></label>
            <div id="edit">
                <fieldset>
                    <div id="selectable" name="ciao">
                        <fieldset id="iconsList"> <legend>Icons</legend></fieldset>
                        <div id="description">
                            <fieldset>
                                <legend>Description</legend>
                                <p><textarea name="description_t" id="description_t" cols="20" rows="10"></textarea></p>
                                <button id="setDescription">Set Description</button>
                            </fieldset>
                        </div>
                        <button id="dtp">Set Description to Point</button>
                        <label for="roadSize">
                            Resize Road<br>
                            <input id="roadSize" type="range" min="5" max="15" value=10>
                        </label>
                        <label for="resize">
                            Resize Icons <br>
                            <input type="range" id="resize" min=20 max=100 value=20>
                        </label>
                    </div>
                </fieldset>
                </div>
                <div id="mymap"> 
                    
                    <!-- MAP -->
                </div>
            </div>
        </div>
        <div id="finalbar">
            <button id="delete">
                <img src="Content\WebImages\trash.svg" alt="">
                Delete Map
            </button>
        </div>
    </div>
</body>
</html>