﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
          integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
          crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"
            integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
            crossorigin="">
    </script>
     <script>
        var User = document.URL.substr(document.URL.indexOf("=")+1);
    </script>
    <link rel="stylesheet" href="~/Content/new_map_style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="~/Scripts/new-map.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div id="title">
        <h1>New Map</h1>
        <p>Set coordinates and zoom to use in your map!</p>
    </div>
    <div id="mapdetails">
        <div id="detailspanel">
            <div id="options">
                <p><label for="latitude">Latitude : <input id="latitude" type="text" step="0.0001"></label></p>
                <p><label for="longitude">Longitude : <input id="longitude" type="text" step="0.0001"></label></p>
                <p><label for="zoom">Focus : <input id="zoom" type="text" step="0.0001"></label></p>
                <button id="seedetails">Details >></button>
            </div>
        </div>
        <div id="map">

        </div>
    </div>
    
    
    <div id="save_panel">
        <p><label for="name">Save As : <input id="name" type="text"></label></p>
        <button id="savemap"> <img src="Content\WebImages\savemap.svg" alt=""><label>Save!</label></button>
        <button id="savelabel">Done >></button>
    </div>

</body>
</html>
